      
      
      body{
            background-color:ghostwhite;
            padding: 50px;
        }

        h1{
            color:navy ;
            background-color:cyan;
            width: inherit; 
            height: inherit;
            padding: 20px;
            border-radius: 20px;
            text-align: center;
            border-style: groove;
            border-color: darkcyan;
            border-width: 5px;
        }

        h3{
            color:darkslateblue;
            background-color: cyan;
            width: inherit;
            height: inherit;
            padding: 15px;
            text-align: center;
            margin: 50px;
            margin-right: 60%;
            border-radius: 20px;
            border-style: groove;
            border-width: 3px;
            border-color: darkgrey;
        }
        
        p{
            color: navy;
            font-family: cursive;
            padding-left: 10px;
            margin-left: 50px;
            text-align: justify;
        }

        b{
            color:rgb(33, 44, 148);
            font-family: sans-serif;
        }

        #name{
            color:blue;
        }

        button{
            color: rgb(109, 50, 62);
            background-color: whitesmoke;
            border-radius: 50px;

        }

        li{
            color: rgb(39, 36, 18);
            font-family:'Times New Roman', serif;
        }
        .list{
            margin-left: 70px;
        }
        .items{
            margin-left: 110px;
        }

        img{
            border-radius: 30px;
            width: 200px;
            height: 250px;
            padding: 10px;
            border-style: double;
            border-color: dimgray;
            margin-left: 100px;            
        }

        #pic{
            height: 250px;
            width: 150px;
            border-style: double;
            border-radius: 30px;
            margin-left: 50px;
        }

        #welcome{

            background-color: bisque;
            text-align: center;
            color: darkgreen;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            padding: 50px 100px;
            margin: 100px 200px;
            border-radius: 50px;
            border-width: 100px;
            border-style: ridge;
            border-color: rgb(79, 180, 150);
        }
        