      
      
      body{
            background-image: linear-gradient(145deg, #701ab6, #23678f, #470ca7);
            padding: 2% 1%;
            font-size: 3;
            font-family: 'Poppins', sans-serif;
           
            
        }

        h1{
            color:navy ;
            background-image: linear-gradient(to bottom right,#6405d1, #30c4ff, #1b5568);
            width: inherit; 
            height: inherit;
            padding: 20px;
            border-radius: 20px;
            text-align: center;
            border-style: groove;
            border-color: darkcyan;
            border-width: 5px;
            
        }

        /* h3{
            color:navy ;
            background-image: linear-gradient(to bottom right,#6405d1, #30c4ff, #1b5568);
            width: inherit; 
            height: inherit;
            padding: 20px;
            border-radius: 20px;
            text-align: center;
            border-style: groove;
            border-color: darkcyan;
            border-width: 5px;
        } */

        h3{
            color:darkslateblue;
            background-image: linear-gradient(to bottom right,#3d5cb1, #5ed1ff, #1b5568);
            width: 25%;
            height: auto;
            padding: 2% 2%;
            text-align: center;
            margin: 3%;
            /* margin-right: 60%; */
            border-radius: 20px;
            border-style: groove;
            border-width: 3px;
            border-color: darkgrey;
        }
        
        p{
            color: #ffffff;
            font-family: 'poppins';
            padding-left: 10px;
            margin-left: 50px;
            text-align: justify;
        }

        img{
            border-radius: 30px;
            width: 200px;
            height: 250px;
            padding: 10px;
            border-style: double;
            border-color: dimgray;
            margin-left: 100px;            
        }

        b{
            color:#d1d6ff;
            font-family: sans-serif;
        }

        button{
            color: #6d323e;
            background-color: whitesmoke;
            border-radius: 50px;

        }

        li{
            color: #fff5be;
            font-family:'Times New Roman', serif;
        }

        .part{
            width: 100%;
            height: 600px;
            float: none;
        }

        .half-width{
            margin: 20px 3%;
            padding: 1% 2%;
            width: 39.5%;
            height: 250px;
            float: left;
            display: grid;
            text-align: middle;
            align-items: center;
            border: solid 2px red;
        }
        .half-width img{
            width: 50%;
            height: 80%;
            padding-right: 2%;
            border-style: solid;
            float: center;
            
        }

        .list{
            margin-left: 70px;
        }
        .items{
            margin-left: 110px;
        }

        #name{
            color:#bebeff;
            font-family: 'Rajdhani';
        }

        #pic{
            height: 250px;
            width: 150px;
            border-style: double;
            border-radius: 30px;
            margin-left: 50px;
        }

        /* #welcome{

            background-image: linear-gradient(to right bottom, #1773dd, #7383fc, #5c195c);
            text-align: center;
            color: #1d1b92;
            font-size: 20px;
            padding: 5%;
            margin: 5% 10%;
            border-radius: 50px;
            border-width: 50px;
            border-style: double;
            border-color: #303775;
        } */

        #pw{
            font-size: larger;
            color:#46e2fd;
            font-family: 'Alegreya Sans SC';
        }
        